<div class="text-center">
  <h2 id=grey><%= @guess %></h2>
  <br></br>
  <p><strong>This is the translation:</strong> <%= @value[:translation] %></p>
  <p><strong>This is your score:</strong> <%= @value[:score] %></p>
  <p><strong>Time taken to answer</strong> <%= @value[:time]%></p>
  <p><strong><%= @value[:message]%></strong></p>
</div>
